<div class="heading"> Login here </div>
<form action="/users" method="post">
  <label for="login-rno" class="form-label"> Roll Number </label>
  <input type="text" maxlength="8" required autofocus class="form-text" id="login-rno" value="rno" placeholder="Enter your roll number">
  <label for="login-pwd" class="form-label"> Password </label>
  <input type="password" required class="form-text" id="login-pwd" value="pwd" placeholder="Enter you password here">
  <button type="submit" class="form-btn" value="type"> Log in </button>
</form>